header {
  background-color: rgb(97, 97, 97);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 0 25px 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

nav {
  height: 100%;
  line-height: 46px;
}

.nav-link {
  color: white;
  margin-right: 10px;
}
